html, body {
    background-color: black;
    overflow: hidden;
}

* {
    font-family: "Overpass", "Roboto", sans-serif;
    outline: none;
    cursor: default;
    user-select: none;
}

h1, code {
    font-family: "Overpass Mono", "Roboto Mono", sans-serif;
}

h1.normal {
    font-family: "Overpass", "Roboto", sans-serif;
}

span, strong, em {
    font-family: inherit;
}

a {
    color: var(--uiFlatTextColour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.hidden {
    color: unset;
    text-decoration: unset;
}

a.hidden:hover {
    text-decoration: unset;
}

main {
    padding-top: 30px;
}

section {
    margin: 8px;
    padding: 8px;
    padding-left: 50px;
    padding-right: 50px;
}

button {
    margin: 4px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--uiColour);
    color: var(--uiTextColour);
    transition: 0.5s;
}

button:hover {
    background-color: var(--uiHoverColour);
}

button.flat {
    background-color: inherit;
    color: var(--uiFlatTextColour);
}

input {
    margin: 4px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--uiInputColour);
    color: var(--uiInputTextColour);
    transition: 0.5s;
    cursor: text;
    user-select: unset;
}

input.fillWidth {
    width: calc(100% - 28px)!important;
}

div.card {
    margin: 5px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: var(--backgroundColour);
    color: var(--textColour);
}

div.card.greeter {
    margin-left: calc(50vw - 200px);
    margin-right: calc(50vw - 200px);
    margin-top: 100px;
    margin-bottom: 100px;
    max-height: calc(100vh - 275px);
    overflow: auto;
}

div.cardContent {
    padding-left: 10px;
    padding-right: 10px;
}

div.cardButtons {
    margin: -10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.noMargin {
    margin: 0;
}

.fillWidth {
    width: fit-content;
}

.alertContent {
    padding: 10px;
    min-height: 50px;
    max-height: 100px;
    overflow: auto;
}

.alertButtons {
    text-align: right;
}

.infoBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 5px;
    z-index: 1;
}

.infoBarRight {
    float: right;
    height: 100%;
}

.infoButton {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
    color: white;
}

.infoButton:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
}

.appBar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.appBarOpenApps {
    display: inline-block;
    padding-left: 10px;
    padding-right: 64px;
    min-width: calc(100vw - 150px);
}

.appBarOpenAppButton, .appBarOptionsButton {
    margin-right: 10px;
    padding: 0;
}

.appBarOpenAppIcon, .appBarOptionsIcon {
    width: 50px;
    height: 50px;
    margin: -5px;
    padding: 5px;
    border-radius: 50px;
    transition: 0.5s;
}

.appBarOpenAppIcon.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

.appBarOptionsIcon:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.appBarNotificationsIcon {
    position: fixed;
    right: 5px;
}

#alertBackground {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#alertBox {
    display: none;
    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    width: 300px;
    min-height: 100px;
    max-height: 300px;
    border-radius: 5px;
    background-color: white;
}

.signInBackground {
    background: var(--desktopBackground);
}

.desktopBackground {
    background: var(--desktopBackground);
}

.signInPersonal {
    padding-top: 5px;
    white-space: nowrap;
    overflow-x: scroll;
}

.signInPersonalItem {
    display: inline-block;
}

.signInPersonalImage {
    width: 60px;
    height: 60px;
    margin: 5px;
    border: 0px solid transparent;
    border-radius: 60px;
    transition: 0.5s;
}

.signInPersonalImage.selected {
    border: 5px solid var(--uiColour);
    margin: 0px;
}

.signInPersonalText {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.signInNetwork {
    display: none;
}

.accountImage {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 60px;
}

.accountImage.big {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}