* {
    font-size: 1em;
}

h1 {
    font-size: 1.3em;
}

h1.normal {
    font-size: 1em;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 1em;
}

p, div, screen {
    font-size: 1em;
}

button, input {
    font-size: 1em;
}

.infoBar {
    height: 1em;
}