::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.8);
}

::-webkit-scrollbar-track {
    background-color: transparent;
}